<!DOCTYPE html>
<html>
<head th:replace="layout::head">
<meta charset="UTF-8">
<title>Editar Categoria</title>
</head>
<body th:background="@{/img/bar.jpg}">
	<header>
		<!-- Primera barra de navegacion-->
		<nav th:replace="layout::menucrud"
			class="navbar navbar-expand-sm navbar-dark"></nav>
	</header>

	<div id="barra" class="jumbotron text-white">
		<div class="container p-2">
			<h1 class="display-3">Mantenimiento de Categoría</h1>
		</div>
	</div>
	<div class="estilo1">
		<div align="center" class="container bg-dark text-light">
			<h1>Editar Categoría</h1>
			<br />
			<form action="#" th:action="@{/categoria/guardar}"
				th:object="${categoria}" method="post">

				<table border="0" cellpadding="10">

					<tr>
						<td>Id Categoría:</td>
						<td><input type="text" th:field="*{idCategoria}"
							readonly="readonly" /></td>
					</tr>
					<tr>
						<td>Nombre:</td>
						<td><input type="text" th:field="*{nombreCategoria}" /></td>
					</tr>
					<tr>
						<td>Descripción:</td>
						<td><input type="text" th:field="*{descripcionCategoria}" /></td>
					</tr>

					<tr>
						<td colspan="2"><button type="submit" class="btn btn-primary">Guardar</button></td>
					</tr>
				</table>
			</form>
		</div>
	</div>
</html>